---
import LogoMark from './LogoMark.astro'
import { withBase } from '../lib/paths'

const homeHref = withBase()
const downloadHref = withBase('/download/')
const changelogHref = withBase('/changelog/')
---

<header class="site-header">
  <div class="container header-inner">
    <a href={homeHref} class="brand" aria-label="Audist home">
      <LogoMark />
      <span>audist</span>
    </a>

    <nav class="site-nav" aria-label="Primary">
      <a href={homeHref}>Overview</a>
      <a href={changelogHref}>Changelog</a>
    </nav>

    <a href={downloadHref} class="button button-primary site-nav-download">Download</a>

    <a href="https://github.com/yoonwaiyan/audist" target="_blank" rel="noreferrer" class="site-nav-github" aria-label="GitHub">
      <svg viewBox="0 0 24 24" aria-hidden="true">
        <path
          d="M12 .5C5.65.5.5 5.66.5 12.02c0 5.09 3.29 9.4 7.86 10.92.57.1.78-.25.78-.56 0-.28-.01-1.2-.02-2.17-3.2.7-3.88-1.36-3.88-1.36-.52-1.34-1.28-1.7-1.28-1.7-1.05-.71.08-.7.08-.7 1.16.08 1.77 1.2 1.77 1.2 1.03 1.77 2.7 1.26 3.36.96.1-.75.4-1.26.73-1.55-2.56-.29-5.26-1.29-5.26-5.75 0-1.27.46-2.31 1.2-3.13-.12-.3-.52-1.5.12-3.13 0 0 .98-.31 3.2 1.2a11.1 11.1 0 0 1 5.83 0c2.22-1.51 3.2-1.2 3.2-1.2.64 1.63.24 2.83.12 3.13.75.82 1.2 1.86 1.2 3.13 0 4.47-2.7 5.46-5.28 5.74.41.36.78 1.06.78 2.14 0 1.55-.02 2.8-.02 3.18 0 .31.2.67.79.56A11.53 11.53 0 0 0 23.5 12C23.5 5.66 18.35.5 12 .5Z"
        ></path>
      </svg>
    </a>
  </div>
</header>
